@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: outfit;
}
body{
    color: #fff;
}
.product-display{
    min-height: 100%;
    padding: 10px 20px;
    display: flex;
}
.d-details{
    display: flex;
}